In [ ]:
##  Data Loading

In [7]:
import pandas as pd

In [10]:
df = pd.read_csv("../data/raw/encounters.csv")

In [11]:
df.head()

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
0,748f8357-6cc7-551d-f31a-32fa2cf84126,2019-02-17T05:07:38Z,2019-02-17T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,877.79,833.90,NaN,NaN
1,5a4735ae-423f-6563-28ab-b3d11b49b2d4,2019-03-24T05:07:38Z,2019-03-24T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,269.68,256.20,NaN,NaN
2,0bee1ce6-3e2c-5506-f71c-a7ba8f64a3d3,2019-05-26T05:07:38Z,2019-05-26T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,1292.75,1228.11,NaN,NaN
3,6e93bcf9-45a4-8528-0120-1c1eaa930faf,2019-07-28T05:07:38Z,2019-07-28T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,1323.87,1257.68,NaN,NaN
4,8b6787c3-4316-a0cb-899d-4746525c319f,2019-10-27T05:07:38Z,2019-10-27T05:22:38Z,b9c610cd-28a6-4636-ccb6-c7a0d2a4cb85,f7ae497d-8dc6-3721-9402-43b621a4e7d2,82608ebb-037c-3cef-9d34-3736d69b29e8,7c4411ce-02f1-39b5-b9ec-dfbea9ad3c1a,wellness,410620009,Well child visit (procedure),129.16,831.76,790.17,NaN,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61459 entries, 0 to 61458
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   61459 non-null  object
 1   START                61459 non-null  object
 2   STOP                 61459 non-null  object
 3   PATIENT              61459 non-null  object
 4   ORGANIZATION         61459 non-null  object
 5   PROVIDER             61459 non-null  object
 6   PAYER                61459 non-null  object
 7   ENCOUNTERCLASS       61459 non-null  object
 8   CODE                 61459 non-null  int64
 9   DESCRIPTION          61459 non-null  object
 10  BASE_ENCOUNTER_COST  61459 non-null  float64
 11  TOTAL_CLAIM_COST     61459 non-null  float64
 12  PAYER_COVERAGE       61459 non-null  float64
 13  REASONCODE           15957 non-null  float64
 14  REASONDESCRIPTION    15957 non-null  object
dtypes: float64(4), int64(1), object(10)
memory usage: 7.0+ MB

In [14]:
df.isna().sum()

Id                         0
START                      0
STOP                       0
PATIENT                    0
ORGANIZATION               0
PROVIDER                   0
PAYER                      0
ENCOUNTERCLASS             0
CODE                       0
DESCRIPTION                0
BASE_ENCOUNTER_COST        0
TOTAL_CLAIM_COST           0
PAYER_COVERAGE             0
REASONCODE             45502
REASONDESCRIPTION      45502
dtype: int64

In [15]:
df.duplicated().sum()

np.int64(0)

In [16]:
df.describe(include="all")

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
count,61459,61459,61459,61459,61459,61459,61459,61459,6.145900e+04,61459,61459.000000,61459.000000,61459.000000,1.595700e+04,15957
unique,61459,58419,58805,1163,1122,1123,10,6,NaN,59,NaN,NaN,NaN,NaN,104
top,748f8357-6cc7-551d-f31a-32fa2cf84126,1931-08-04T21:04:17Z,1931-08-04T21:19:17Z,ef167059-cef0-12c4-49db-993ca3a20c01,6f122869-a856-3d65-8db9-099bf4f5bbb8,43b6d00b-7643-36f8-8043-456d4eda39eb,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,wellness,NaN,General examination of patient (procedure),NaN,NaN,NaN,NaN,Normal pregnancy
freq,1,11,11,1563,2184,2184,13620,24038,NaN,19374,NaN,NaN,NaN,NaN,3931
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.652707e+08,NaN,113.262767,4149.657952,1033.709602,4.860573e+12,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.575171e+08,NaN,23.847374,10919.677889,4902.646135,2.123179e+14,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.505002e+06,NaN,77.490000,0.000000,0.000000,1.734006e+06,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.626730e+08,NaN,77.490000,129.160000,0.000000,5.582200e+07,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.853470e+08,NaN,129.160000,786.330000,0.000000,7.289200e+07,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.909060e+08,NaN,129.160000,1625.890000,29.990000,1.956620e+08,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.029270e+08,NaN,129.160000,873646.190000,227851.810000,1.093988e+16,NaN

In [ ]:
## Initial data quality checks were performed to assess missing values,duplicates, and variable distributions.

In [17]:
df = df.dropna(subset=["START", "STOP"])

In [18]:
df["START"] = pd.to_datetime(df["START"])
df["STOP"] = pd.to_datetime(df["STOP"])

In [19]:
df = df.drop_duplicates()

In [20]:
df["service_duration_min"] = (
    df["STOP"] - df["START"]
).dt.total_seconds() / 60

In [21]:
df = df[df["service_duration_min"] > 0]

In [23]:
df.to_csv("../data/processed/encounters_cleaned.csv", index=False)