In [ ]:
##  Data Loading

In [24]:
import pandas as pd

In [25]:
df = pd.read_csv("../data/raw/encounters.csv", parse_dates=["START", "STOP"])

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61459 entries, 0 to 61458
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   61459 non-null  object
 1   START                61459 non-null  datetime64[ns, UTC]
 2   STOP                 61459 non-null  datetime64[ns, UTC]
 3   PATIENT              61459 non-null  object
 4   ORGANIZATION         61459 non-null  object
 5   PROVIDER             61459 non-null  object
 6   PAYER                61459 non-null  object
 7   ENCOUNTERCLASS       61459 non-null  object
 8   CODE                 61459 non-null  int64
 9   DESCRIPTION          61459 non-null  object
 10  BASE_ENCOUNTER_COST  61459 non-null  float64
 11  TOTAL_CLAIM_COST     61459 non-null  float64
 12  PAYER_COVERAGE       61459 non-null  float64
 13  REASONCODE           15957 non-null  float64
 14  REASONDESCRIPTION    15957 non-null  object
dtypes: datetime64[ns, UTC](2), float64(4), int64(1), object(8)
memory usage: 7.0+ MB

In [27]:
df.isna().sum()

Id                         0
START                      0
STOP                       0
PATIENT                    0
ORGANIZATION               0
PROVIDER                   0
PAYER                      0
ENCOUNTERCLASS             0
CODE                       0
DESCRIPTION                0
BASE_ENCOUNTER_COST        0
TOTAL_CLAIM_COST           0
PAYER_COVERAGE             0
REASONCODE             45502
REASONDESCRIPTION      45502
dtype: int64

In [28]:
df.duplicated().sum()

np.int64(0)

In [29]:
df.describe(include="all")

,Id,START,STOP,PATIENT,ORGANIZATION,PROVIDER,PAYER,ENCOUNTERCLASS,CODE,DESCRIPTION,BASE_ENCOUNTER_COST,TOTAL_CLAIM_COST,PAYER_COVERAGE,REASONCODE,REASONDESCRIPTION
count,61459,61459,61459,61459,61459,61459,61459,61459,6.145900e+04,61459,61459.000000,61459.000000,61459.000000,1.595700e+04,15957
unique,61459,NaN,NaN,1163,1122,1123,10,6,NaN,59,NaN,NaN,NaN,NaN,104
top,748f8357-6cc7-551d-f31a-32fa2cf84126,NaN,NaN,ef167059-cef0-12c4-49db-993ca3a20c01,6f122869-a856-3d65-8db9-099bf4f5bbb8,43b6d00b-7643-36f8-8043-456d4eda39eb,b1c428d6-4f07-31e0-90f0-68ffa6ff8c76,wellness,NaN,General examination of patient (procedure),NaN,NaN,NaN,NaN,Normal pregnancy
freq,1,NaN,NaN,1563,2184,2184,13620,24038,NaN,19374,NaN,NaN,NaN,NaN,3931
mean,NaN,2005-03-13 05:03:48.042369792+00:00,2005-03-13 11:43:58.700304256+00:00,NaN,NaN,NaN,NaN,NaN,2.652707e+08,NaN,113.262767,4149.657952,1033.709602,4.860573e+12,NaN
min,NaN,1912-09-26 02:47:25+00:00,1912-09-26 03:02:25+00:00,NaN,NaN,NaN,NaN,NaN,1.505002e+06,NaN,77.490000,0.000000,0.000000,1.734006e+06,NaN
25%,NaN,1997-07-29 19:18:21.500000+00:00,1997-07-30 06:37:03.500000+00:00,NaN,NaN,NaN,NaN,NaN,1.626730e+08,NaN,77.490000,129.160000,0.000000,5.582200e+07,NaN
50%,NaN,2012-10-29 13:24:37+00:00,2012-10-29 13:50:03+00:00,NaN,NaN,NaN,NaN,NaN,1.853470e+08,NaN,129.160000,786.330000,0.000000,7.289200e+07,NaN
75%,NaN,2017-05-31 01:18:50.500000+00:00,2017-05-31 01:33:50.500000+00:00,NaN,NaN,NaN,NaN,NaN,3.909060e+08,NaN,129.160000,1625.890000,29.990000,1.956620e+08,NaN
max,NaN,2021-11-19 16:50:22+00:00,2021-11-19 17:05:22+00:00,NaN,NaN,NaN,NaN,NaN,7.029270e+08,NaN,129.160000,873646.190000,227851.810000,1.093988e+16,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.575171e+08,NaN,23.847374,10919.677889,4902.646135,2.123179e+14,NaN

In [ ]:
## Initial data quality checks were performed to assess missing values,duplicates, and variable distributions.

In [30]:
df["START"] = pd.to_datetime(df["START"])
df["STOP"] = pd.to_datetime(df["STOP"])

In [31]:
df["service_duration_min"] = (df["STOP"] - df["START"]).dt.total_seconds() / 60

In [32]:
df = df[df["service_duration_min"] > 0]

In [33]:
df.to_csv("../data/processed/encounters_cleaned.csv", index=False)